@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Actor';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/actor-v17-latin-regular.woff2) format('woff2');
    }
  }

  @layer base {
    @font-face {
      font-family: 'Abhaya Libre';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/abhaya-libre-v17-latin-regular.woff2) format('woff2');
    }
  }

  @layer base {
    @font-face {
      font-family: 'Abhaya Libre';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(./fonts/abhaya-libre-v17-latin-700.woff2) format('woff2');
    }
  }

  @layer base {
    @font-face {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/rubik-v28-latin-regular.woff2) format('woff2');
    }
  }

  @layer base {
    @font-face {
      font-family: 'Alex Brush';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/alex-brush-v22-latin-regular.woff2) format('woff2');
    }
  }